@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@model MANU_AUTO.Models.Categorie

@{
    ViewData["Title"] = "Ajout d'une catégorie";
}

<h1>Ajouter une catégorie</h1>

<h4>Categorie</h4>
<hr />
@if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Employee")))
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group mb-3">
                    <label asp-for="Label" class="control-label mb-3"></label>
                    <input asp-for="Label" class="form-control" />
                    @*<span asp-validation-for="Label" class="text-danger"></span>*@
                </div>
                <div class="form-group mb-3">
                    <input type="submit" value="Ajouter" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Liste des catégories</a>
    </div>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
