@model MANU_AUTO.Models.Categorie

@{
    ViewData["Title"] = "Détails catégorie";
}

<h3 class="titleDetailsCat">Détails de la catégorie</h3>

<div class="detailsCatetegorie">

        <div class = "col-md-6-box">
            @Html.DisplayNameFor(model => model.Label)
        </div>
        <div class = "col-md-6-box">
            @Html.DisplayFor(model => model.Label)
        </div>

</div>

<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.Id">Modifier</a>
    <a asp-action="Index">Liste des catégories</a>
</div>
